---
import { SomeReactComponent } from '../components/SomeReactComponent';
---

<h1>Please refer to the browser console.</h1>
<SomeReactComponent client:load />

<script>
	import { callRoute } from "typed-rest-routes/client";

	const main = async () => {
		const res = await callRoute("/api", "POST", {
			id: "Astro Component",
		});
		console.log(res);
	}

	main();
</script>