---
import { SomeReactComponent } from '../components/SomeReactComponent';
---

<h1>Please refer to the browser console.</h1>
<SomeReactComponent client:load />

<script>
	import { callRoute } from "typed-rest-routes/client";

	const main = async () => {
		const get = await callRoute("/api", "GET", { id: "Astro Component" });
		const put = await callRoute("/api", "PUT");
		const pos = await callRoute("/api", "POST", { id: "Astro Component" });
		const del = await callRoute("/api", "DELETE", { id: "Astro Component" });

		console.log(get);
		console.log(put);
		console.log(pos);
		console.log(del);
	}

	main();
</script>