---
import { SomeReactComponent } from '../components/SomeReactComponent';
---

<h1>Please refer to the browser console.</h1>
<SomeReactComponent client:load />

<script>
	import { callRoute } from "typed-rest-routes/client";

	const main = async () => {
		const get = await callRoute("/api", "GET", { id: "Name" });
		const put = await callRoute("/api", "PUT");
		const pos = await callRoute("/api", "POST", { id: "Name" });
		const del = await callRoute("/api", "DELETE", { id: "Name" });

		console.log({
			get,
			put,
			pos,
			del
		});
	}

	main();
</script>